.title{
    text-align: center;
}
.footer-sec-1 ul{
    padding-top: 3%;
    list-style-type: none;
    color:white;
    margin: 0;
    padding: 0;
}
.footer-sec-1 li{
    display: inline;
    padding-left: 1%;
    padding-right: 1%;
}