{% load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/mystyles1.css' %}">
    <title>Hello, world!</title>
  </head>
  <body>

<header class="fix">
    <video src="{% static 'videos/pexels.mp4' %}" class="vid-bg" autoplay loop muted></video>

 <!--navbar-->
        <nav class=" navbar fixed-top navbar-expand-lg  navbar-dark bg-dark navbar-inverse">
             <div class="container-fluid">
{#                  <a href="#" class="navbar-brand" >#}
{#            <img src="images/aws.png" height="28" alt="CoolBrand">#}
{##}
{#        </a>#}
  <a class="navbar-brand" href="#"><span>F</span>uture Tech Global</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse  " id="navbarSupportedContent">



    <ul class="navbar-nav mr-auto w-70  col px-md-5  justify-content-end" >
      <li class="nav-item active">
        <a class="nav-link" href="#"><b>HOME</b><span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item active">
        <a class="nav-link " href="#" tabindex="-1" aria-disabled="true"><b>Blog</b></a>
      </li>
          <li class="nav-item active">
              <a class="nav-link " href="#" tabindex="-1" aria-disabled="true"><u><b>Registered As a Professional</b></u></a>
      </li>
          <li class="nav-item active">
        <a class="nav-link " href="#" tabindex="-1" aria-disabled="true"><b>Login/Sign Up</b></a>
      </li>

    </ul>

  </div>
{#                    <form class="form-inline">#}
{#      <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->#}
{#      <button class="btn  my-0 my-sm-0" type="submit">#}
{#          <img src="images/sea.jpg" style="width:30%" ></button>#}
{#    </form>#}
             </div>


</nav>
       <div class="banner-text">
        <h2>We are <span>Creative</span></h2>
        <p>Premium services to all types of vehicles</p>
            </div>
    </header>
<section>
    <div class="container-fluid" id="aboutfuturetech">
    <div class="row">
        <div class="col-lg-6">
            <h3>Why Future Tech Global?</h3>
            <div style="margin-left: 5%">
            <h4>Transparent Pricing</h4>
            <h6>see fixed prices</h6><br>
            <h4>Transparent Pricing</h4>
            <h6>see fixed prices</h6><br>
            <h4>Transparent Pricing</h4>
            <h6>see fixed prices</h6>
                </div>
{#            <div class="row">#}
{#                <div class="col">#}
{#                   <img src="{% static 'images/ai.jpg' %}" width="20%" height="20%">#}
{#                </div>#}
{#                <div class="col-lg-10">#}
{#                    <div class="row">#}
{#                         <h4><b>Transparent Pricing</b></h4>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                            <h6>see fixed prices</h6>#}
{#                        </div>#}
{#                </div>#}
{##}
{#            </div><br>#}
{#             <div class="row">#}
{#                <div class="col-lg-2">#}
{#                   <img src="{% static 'images/ai.jpg' %}" width="20%" height="20%">#}
{#                </div>#}
{#                <div class="col-lg-10">#}
{#                    <div class="row">#}
{#                         <h4><b>Transparent Pricing</b></h4>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                            <h6>see fixed prices</h6>#}
{#                        </div>#}
{#                </div>#}
{##}
{#            </div><br>#}
{#             <div class="row">#}
{#                <div class="col-lg-2">#}
{#                   <img src="{% static 'images/ai.jpg' %}" width="20%" height="20%">#}
{#                </div>#}
{#                <div class="col-lg-10">#}
{#                    <div class="row">#}
{#                         <h4><b>Transparent Pricing</b></h4>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                            <h6>see fixed prices</h6>#}
{#                        </div>#}
{#                </div>#}
{##}
{#            </div>#}
        </div>
         <div class="col-lg-5" style="border:2px;background-color: lightblue;padding-top: 5%;border-radius:55px;padding-left: 5%;margin-right: 1%;margin-left: 2%">
            <div class="row">
                <img src="{% static 'images/ai.jpg' %}" width="50" height="50" style="margin-left: 20%">
            </div>
             <div class="row">
                 <h2>100% Quality Assured</h2>
             </div>
             <div class="row">
                 <h6>If u love our service</h6>
             </div>
        </div>
    </div>
</div>
    <div class="container-fluid">
       <div class="row" style="padding-top: 5%;margin-top: 2%;background-color: white;padding-bottom: 5%">
           <div class="col" style="padding-left: 5%">
            <h3><b>Book professionals From Your Phone</b></h3>
               <h6>Enter your mobile number to get the app download link</h6>
                <div class="row" style="border:darkred;padding-left: 5%">
                <select style="border-color: darkred">
                    <option>+971</option>
                 <option>+971</option>
                 <option>+971</option>
                 <option>+971</option>

            </select>
                <input type="text" size="10"  style="border-color: darkred">
            <button type="submit"  style="border-color: darkred">Send</button>
                    </div>
           </div>
           <div class="col">
            <img src="{% static 'images/m1.jpg' %}"  class="img-fluid"height="100%" width="50%" style="margin-left: 20%">
           </div>
           <div class="col">
             <img src="{% static 'images/m1.jpg' %}"  class="img-fluid" height="100%" width="50%">
           </div>
       </div>
    </div>
</section>
<footer style="background-color: black;color: white;padding-top: 2%;padding-bottom: 2%;padding-left: 5%;padding-right: 5%">
    <div class="footer-sec-1">
        <ul>
            <li><a>About us</a></li>
             <li><a>Terms&conditions</a></li>
             <li><a>Privacy Policy</a></li>
             <li><a>Blog</a></li>
             <li><a>Reviews</a></li>
             <li><a>Near Me</a></li>
            <li><a>Careers</a></li>
            <li><a>Gift Cards</a></li>

        </ul>

    </div>
    <hr>
    <b>Serving in</b><br>
    INDIA<br>
   <div class="footer-sec-1">
        <ul>
            <li><a>Ahmedabad</a></li>
             <li><a>Bangalore</a></li>
             <li><a>Chennai</a></li>
             <li><a>Blog</a></li>
             <li><a>Reviews</a></li>
             <li><a>Near Me</a></li>
            <li><a>Careers</a></li>
            <li><a>Gift Cards</a></li>

        </ul>

    </div>
    @futuretechglobal
</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>